$spacing-unit: 30px;

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


.fruit-jumbotron {
  background-image: url("/FruitWarehouse/images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 350px;
  .fruit-description {
    padding: 50px 0;
  }
  .monkey {

  }
}

.navbar {
  margin-bottom: 0;
}
