// Variables
// --------------------------
$fruit-sass-asset-helper: false !default;

$fruit-font-path: if($fruit-sass-asset-helper, "fruit_warehouse/", "../fonts/fruit_warehouse/") !default;
$fruit-font-name: "fruit_warehouse-webfont" !default;
$fruit-font-size-base: 14px !default;
$fruit-css-prefix: fruit!default;
$fruit-version: "1.0.0" !default;
$fruit-border-color: #eee !default;
$fruit-inverse: #fff !default;
$fruit-li-width: (30em / 14) !default;

$fruit-var-adjust: "\f042";
$fruit-var-adn: "\f170";
$fruit-var-align-center: "\f037";
$fruit-var-align-justify: "\f039";
$fruit-var-align-left: "\f036";
$fruit-var-align-right: "\f038";
$fruit-var-ambulance: "\f0f9";
$fruit-var-anchor: "\f13d";
$fruit-var-android: "\f17b";
$fruit-var-angellist: "\f209";
$fruit-var-angle-double-down: "\f103";
$fruit-var-angle-double-left: "\f100";
$fruit-var-angle-double-right: "\f101";
$fruit-var-angle-double-up: "\f102";
$fruit-var-angle-down: "\f107";
$fruit-var-angle-left: "\f104";
$fruit-var-angle-right: "\f105";
$fruit-var-angle-up: "\f106";
$fruit-var-apple: "\f179";
$fruit-var-archive: "\f187";
$fruit-var-area-chart: "\f1fe";
$fruit-var-arrow-circle-down: "\f0ab";
$fruit-var-arrow-circle-left: "\f0a8";
$fruit-var-arrow-circle-o-down: "\f01a";
$fruit-var-arrow-circle-o-left: "\f190";
$fruit-var-arrow-circle-o-right: "\f18e";
$fruit-var-arrow-circle-o-up: "\f01b";
$fruit-var-arrow-circle-right: "\f0a9";
$fruit-var-arrow-circle-up: "\f0aa";
$fruit-var-arrow-down: "\f063";
$fruit-var-arrow-left: "\f060";
$fruit-var-arrow-right: "\f061";
$fruit-var-arrow-up: "\f062";
$fruit-var-arrows: "\f047";
$fruit-var-arrows-alt: "\f0b2";
$fruit-var-arrows-h: "\f07e";
$fruit-var-arrows-v: "\f07d";
$fruit-var-asterisk: "\f069";
$fruit-var-at: "\f1fa";
$fruit-var-automobile: "\f1b9";
$fruit-var-backward: "\f04a";
$fruit-var-ban: "\f05e";
$fruit-var-bank: "\f19c";
$fruit-var-bar-chart: "\f080";
$fruit-var-bar-chart-o: "\f080";
$fruit-var-barcode: "\f02a";
$fruit-var-bars: "\f0c9";
$fruit-var-bed: "\f236";
$fruit-var-beer: "\f0fc";
$fruit-var-behance: "\f1b4";
$fruit-var-behance-square: "\f1b5";
$fruit-var-bell: "\f0f3";
$fruit-var-bell-o: "\f0a2";
$fruit-var-bell-slash: "\f1f6";
$fruit-var-bell-slash-o: "\f1f7";
$fruit-var-bicycle: "\f206";
$fruit-var-binoculars: "\f1e5";
$fruit-var-birthday-cake: "\f1fd";
$fruit-var-bitbucket: "\f171";
$fruit-var-bitbucket-square: "\f172";
$fruit-var-bitcoin: "\f15a";
$fruit-var-bold: "\f032";
$fruit-var-bolt: "\f0e7";
$fruit-var-bomb: "\f1e2";
$fruit-var-book: "\f02d";
$fruit-var-bookmark: "\f02e";
$fruit-var-bookmark-o: "\f097";
$fruit-var-briefcase: "\f0b1";
$fruit-var-btc: "\f15a";
$fruit-var-bug: "\f188";
$fruit-var-building: "\f1ad";
$fruit-var-building-o: "\f0f7";
$fruit-var-bullhorn: "\f0a1";
$fruit-var-bullseye: "\f140";
$fruit-var-bus: "\f207";
$fruit-var-buysellads: "\f20d";
$fruit-var-cab: "\f1ba";
$fruit-var-calculator: "\f1ec";
$fruit-var-calendar: "\f073";
$fruit-var-calendar-o: "\f133";
$fruit-var-camera: "\f030";
$fruit-var-camera-retro: "\f083";
$fruit-var-car: "\f1b9";
$fruit-var-caret-down: "\f0d7";
$fruit-var-caret-left: "\f0d9";
$fruit-var-caret-right: "\f0da";
$fruit-var-caret-square-o-down: "\f150";
$fruit-var-caret-square-o-left: "\f191";
$fruit-var-caret-square-o-right: "\f152";
$fruit-var-caret-square-o-up: "\f151";
$fruit-var-caret-up: "\f0d8";
$fruit-var-cart-arrow-down: "\f218";
$fruit-var-cart-plus: "\f217";
$fruit-var-cc: "\f20a";
$fruit-var-cc-amex: "\f1f3";
$fruit-var-cc-discover: "\f1f2";
$fruit-var-cc-mastercard: "\f1f1";
$fruit-var-cc-paypal: "\f1f4";
$fruit-var-cc-stripe: "\f1f5";
$fruit-var-cc-visa: "\f1f0";
$fruit-var-certificate: "\f0a3";
$fruit-var-chain: "\f0c1";
$fruit-var-chain-broken: "\f127";
$fruit-var-check: "\f00c";
$fruit-var-check-circle: "\f058";
$fruit-var-check-circle-o: "\f05d";
$fruit-var-check-square: "\f14a";
$fruit-var-check-square-o: "\f046";
$fruit-var-chevron-circle-down: "\f13a";
$fruit-var-chevron-circle-left: "\f137";
$fruit-var-chevron-circle-right: "\f138";
$fruit-var-chevron-circle-up: "\f139";
$fruit-var-chevron-down: "\f078";
$fruit-var-chevron-left: "\f053";
$fruit-var-chevron-right: "\f054";
$fruit-var-chevron-up: "\f077";
$fruit-var-child: "\f1ae";
$fruit-var-circle: "\f111";
$fruit-var-circle-o: "\f10c";
$fruit-var-circle-o-notch: "\f1ce";
$fruit-var-circle-thin: "\f1db";
$fruit-var-clipboard: "\f0ea";
$fruit-var-clock-o: "\f017";
$fruit-var-close: "\f00d";
$fruit-var-cloud: "\f0c2";
$fruit-var-cloud-download: "\f0ed";
$fruit-var-cloud-upload: "\f0ee";
$fruit-var-cny: "\f157";
$fruit-var-code: "\f121";
$fruit-var-code-fork: "\f126";
$fruit-var-codepen: "\f1cb";
$fruit-var-coffee: "\f0f4";
$fruit-var-cog: "\f013";
$fruit-var-cogs: "\f085";
$fruit-var-columns: "\f0db";
$fruit-var-comment: "\f075";
$fruit-var-comment-o: "\f0e5";
$fruit-var-comments: "\f086";
$fruit-var-comments-o: "\f0e6";
$fruit-var-compass: "\f14e";
$fruit-var-compress: "\f066";
$fruit-var-connectdevelop: "\f20e";
$fruit-var-copy: "\f0c5";
$fruit-var-copyright: "\f1f9";
$fruit-var-credit-card: "\f09d";
$fruit-var-crop: "\f125";
$fruit-var-crosshairs: "\f05b";
$fruit-var-css3: "\f13c";
$fruit-var-cube: "\f1b2";
$fruit-var-cubes: "\f1b3";
$fruit-var-cut: "\f0c4";
$fruit-var-cutlery: "\f0f5";
$fruit-var-dashboard: "\f0e4";
$fruit-var-dashcube: "\f210";
$fruit-var-database: "\f1c0";
$fruit-var-dedent: "\f03b";
$fruit-var-delicious: "\f1a5";
$fruit-var-desktop: "\f108";
$fruit-var-deviantart: "\f1bd";
$fruit-var-diamond: "\f219";
$fruit-var-digg: "\f1a6";
$fruit-var-dollar: "\f155";
$fruit-var-dot-circle-o: "\f192";
$fruit-var-download: "\f019";
$fruit-var-dribbble: "\f17d";
$fruit-var-dropbox: "\f16b";
$fruit-var-drupal: "\f1a9";
$fruit-var-edit: "\f044";
$fruit-var-eject: "\f052";
$fruit-var-ellipsis-h: "\f141";
$fruit-var-ellipsis-v: "\f142";
$fruit-var-empire: "\f1d1";
$fruit-var-envelope: "\f0e0";
$fruit-var-envelope-o: "\f003";
$fruit-var-envelope-square: "\f199";
$fruit-var-eraser: "\f12d";
$fruit-var-eur: "\f153";
$fruit-var-euro: "\f153";
$fruit-var-exchange: "\f0ec";
$fruit-var-exclamation: "\f12a";
$fruit-var-exclamation-circle: "\f06a";
$fruit-var-exclamation-triangle: "\f071";
$fruit-var-expand: "\f065";
$fruit-var-external-link: "\f08e";
$fruit-var-external-link-square: "\f14c";
$fruit-var-eye: "\f06e";
$fruit-var-eye-slash: "\f070";
$fruit-var-eyedropper: "\f1fb";
$fruit-var-facebook: "\f09a";
$fruit-var-facebook-f: "\f09a";
$fruit-var-facebook-official: "\f230";
$fruit-var-facebook-square: "\f082";
$fruit-var-fast-backward: "\f049";
$fruit-var-fast-forward: "\f050";
$fruit-var-fax: "\f1ac";
$fruit-var-female: "\f182";
$fruit-var-fighter-jet: "\f0fb";
$fruit-var-file: "\f15b";
$fruit-var-file-archive-o: "\f1c6";
$fruit-var-file-audio-o: "\f1c7";
$fruit-var-file-code-o: "\f1c9";
$fruit-var-file-excel-o: "\f1c3";
$fruit-var-file-image-o: "\f1c5";
$fruit-var-file-movie-o: "\f1c8";
$fruit-var-file-o: "\f016";
$fruit-var-file-pdf-o: "\f1c1";
$fruit-var-file-photo-o: "\f1c5";
$fruit-var-file-picture-o: "\f1c5";
$fruit-var-file-powerpoint-o: "\f1c4";
$fruit-var-file-sound-o: "\f1c7";
$fruit-var-file-text: "\f15c";
$fruit-var-file-text-o: "\f0f6";
$fruit-var-file-video-o: "\f1c8";
$fruit-var-file-word-o: "\f1c2";
$fruit-var-file-zip-o: "\f1c6";
$fruit-var-files-o: "\f0c5";
$fruit-var-film: "\f008";
$fruit-var-filter: "\f0b0";
$fruit-var-fire: "\f06d";
$fruit-var-fire-extinguisher: "\f134";
$fruit-var-flag: "\f024";
$fruit-var-flag-checkered: "\f11e";
$fruit-var-flag-o: "\f11d";
$fruit-var-flash: "\f0e7";
$fruit-var-flask: "\f0c3";
$fruit-var-flickr: "\f16e";
$fruit-var-floppy-o: "\f0c7";
$fruit-var-folder: "\f07b";
$fruit-var-folder-o: "\f114";
$fruit-var-folder-open: "\f07c";
$fruit-var-folder-open-o: "\f115";
$fruit-var-font: "\f031";
$fruit-var-forumbee: "\f211";
$fruit-var-forward: "\f04e";
$fruit-var-foursquare: "\f180";
$fruit-var-frown-o: "\f119";
$fruit-var-futbol-o: "\f1e3";
$fruit-var-gamepad: "\f11b";
$fruit-var-gavel: "\f0e3";
$fruit-var-gbp: "\f154";
$fruit-var-ge: "\f1d1";
$fruit-var-gear: "\f013";
$fruit-var-gears: "\f085";
$fruit-var-genderless: "\f1db";
$fruit-var-gift: "\f06b";
$fruit-var-git: "\f1d3";
$fruit-var-git-square: "\f1d2";
$fruit-var-github: "\f09b";
$fruit-var-github-alt: "\f113";
$fruit-var-github-square: "\f092";
$fruit-var-gittip: "\f184";
$fruit-var-glass: "\f000";
$fruit-var-globe: "\f0ac";
$fruit-var-google: "\f1a0";
$fruit-var-google-plus: "\f0d5";
$fruit-var-google-plus-square: "\f0d4";
$fruit-var-google-wallet: "\f1ee";
$fruit-var-graduation-cap: "\f19d";
$fruit-var-gratipay: "\f184";
$fruit-var-group: "\f0c0";
$fruit-var-h-square: "\f0fd";
$fruit-var-hacker-news: "\f1d4";
$fruit-var-hand-o-down: "\f0a7";
$fruit-var-hand-o-left: "\f0a5";
$fruit-var-hand-o-right: "\f0a4";
$fruit-var-hand-o-up: "\f0a6";
$fruit-var-hdd-o: "\f0a0";
$fruit-var-header: "\f1dc";
$fruit-var-headphones: "\f025";
$fruit-var-heart: "\f004";
$fruit-var-heart-o: "\f08a";
$fruit-var-heartbeat: "\f21e";
$fruit-var-history: "\f1da";
$fruit-var-home: "\f015";
$fruit-var-hospital-o: "\f0f8";
$fruit-var-hotel: "\f236";
$fruit-var-html5: "\f13b";
$fruit-var-ils: "\f20b";
$fruit-var-image: "\f03e";
$fruit-var-inbox: "\f01c";
$fruit-var-indent: "\f03c";
$fruit-var-info: "\f129";
$fruit-var-info-circle: "\f05a";
$fruit-var-inr: "\f156";
$fruit-var-instagram: "\f16d";
$fruit-var-institution: "\f19c";
$fruit-var-ioxhost: "\f208";
$fruit-var-italic: "\f033";
$fruit-var-joomla: "\f1aa";
$fruit-var-jpy: "\f157";
$fruit-var-jsfiddle: "\f1cc";
$fruit-var-key: "\f084";
$fruit-var-keyboard-o: "\f11c";
$fruit-var-krw: "\f159";
$fruit-var-language: "\f1ab";
$fruit-var-laptop: "\f109";
$fruit-var-lastfm: "\f202";
$fruit-var-lastfm-square: "\f203";
$fruit-var-leaf: "\f06c";
$fruit-var-leanpub: "\f212";
$fruit-var-legal: "\f0e3";
$fruit-var-lemon-o: "\f094";
$fruit-var-level-down: "\f149";
$fruit-var-level-up: "\f148";
$fruit-var-life-bouy: "\f1cd";
$fruit-var-life-buoy: "\f1cd";
$fruit-var-life-ring: "\f1cd";
$fruit-var-life-saver: "\f1cd";
$fruit-var-lightbulb-o: "\f0eb";
$fruit-var-line-chart: "\f201";
$fruit-var-link: "\f0c1";
$fruit-var-linkedin: "\f0e1";
$fruit-var-linkedin-square: "\f08c";
$fruit-var-linux: "\f17c";
$fruit-var-list: "\f03a";
$fruit-var-list-alt: "\f022";
$fruit-var-list-ol: "\f0cb";
$fruit-var-list-ul: "\f0ca";
$fruit-var-location-arrow: "\f124";
$fruit-var-lock: "\f023";
$fruit-var-long-arrow-down: "\f175";
$fruit-var-long-arrow-left: "\f177";
$fruit-var-long-arrow-right: "\f178";
$fruit-var-long-arrow-up: "\f176";
$fruit-var-magic: "\f0d0";
$fruit-var-magnet: "\f076";
$fruit-var-mail-forward: "\f064";
$fruit-var-mail-reply: "\f112";
$fruit-var-mail-reply-all: "\f122";
$fruit-var-male: "\f183";
$fruit-var-map-marker: "\f041";
$fruit-var-mars: "\f222";
$fruit-var-mars-double: "\f227";
$fruit-var-mars-stroke: "\f229";
$fruit-var-mars-stroke-h: "\f22b";
$fruit-var-mars-stroke-v: "\f22a";
$fruit-var-maxcdn: "\f136";
$fruit-var-meanpath: "\f20c";
$fruit-var-medium: "\f23a";
$fruit-var-medkit: "\f0fa";
$fruit-var-meh-o: "\f11a";
$fruit-var-mercury: "\f223";
$fruit-var-microphone: "\f130";
$fruit-var-microphone-slash: "\f131";
$fruit-var-minus: "\f068";
$fruit-var-minus-circle: "\f056";
$fruit-var-minus-square: "\f146";
$fruit-var-minus-square-o: "\f147";
$fruit-var-mobile: "\f10b";
$fruit-var-mobile-phone: "\f10b";
$fruit-var-money: "\f0d6";
$fruit-var-moon-o: "\f186";
$fruit-var-mortar-board: "\f19d";
$fruit-var-motorcycle: "\f21c";
$fruit-var-music: "\f001";
$fruit-var-navicon: "\f0c9";
$fruit-var-neuter: "\f22c";
$fruit-var-newspaper-o: "\f1ea";
$fruit-var-openid: "\f19b";
$fruit-var-outdent: "\f03b";
$fruit-var-pagelines: "\f18c";
$fruit-var-paint-brush: "\f1fc";
$fruit-var-paper-plane: "\f1d8";
$fruit-var-paper-plane-o: "\f1d9";
$fruit-var-paperclip: "\f0c6";
$fruit-var-paragraph: "\f1dd";
$fruit-var-paste: "\f0ea";
$fruit-var-pause: "\f04c";
$fruit-var-paw: "\f1b0";
$fruit-var-paypal: "\f1ed";
$fruit-var-pencil: "\f040";
$fruit-var-pencil-square: "\f14b";
$fruit-var-pencil-square-o: "\f044";
$fruit-var-phone: "\f095";
$fruit-var-phone-square: "\f098";
$fruit-var-photo: "\f03e";
$fruit-var-picture-o: "\f03e";
$fruit-var-pie-chart: "\f200";
$fruit-var-pied-piper: "\f1a7";
$fruit-var-pied-piper-alt: "\f1a8";
$fruit-var-pinterest: "\f0d2";
$fruit-var-pinterest-p: "\f231";
$fruit-var-pinterest-square: "\f0d3";
$fruit-var-plane: "\f072";
$fruit-var-play: "\f04b";
$fruit-var-play-circle: "\f144";
$fruit-var-play-circle-o: "\f01d";
$fruit-var-plug: "\f1e6";
$fruit-var-plus: "\f067";
$fruit-var-plus-circle: "\f055";
$fruit-var-plus-square: "\f0fe";
$fruit-var-plus-square-o: "\f196";
$fruit-var-power-off: "\f011";
$fruit-var-print: "\f02f";
$fruit-var-puzzle-piece: "\f12e";
$fruit-var-qq: "\f1d6";
$fruit-var-qrcode: "\f029";
$fruit-var-question: "\f128";
$fruit-var-question-circle: "\f059";
$fruit-var-quote-left: "\f10d";
$fruit-var-quote-right: "\f10e";
$fruit-var-ra: "\f1d0";
$fruit-var-random: "\f074";
$fruit-var-rebel: "\f1d0";
$fruit-var-recycle: "\f1b8";
$fruit-var-reddit: "\f1a1";
$fruit-var-reddit-square: "\f1a2";
$fruit-var-refresh: "\f021";
$fruit-var-remove: "\f00d";
$fruit-var-renren: "\f18b";
$fruit-var-reorder: "\f0c9";
$fruit-var-repeat: "\f01e";
$fruit-var-reply: "\f112";
$fruit-var-reply-all: "\f122";
$fruit-var-retweet: "\f079";
$fruit-var-rmb: "\f157";
$fruit-var-road: "\f018";
$fruit-var-rocket: "\f135";
$fruit-var-rotate-left: "\f0e2";
$fruit-var-rotate-right: "\f01e";
$fruit-var-rouble: "\f158";
$fruit-var-rss: "\f09e";
$fruit-var-rss-square: "\f143";
$fruit-var-rub: "\f158";
$fruit-var-ruble: "\f158";
$fruit-var-rupee: "\f156";
$fruit-var-save: "\f0c7";
$fruit-var-scissors: "\f0c4";
$fruit-var-search: "\f002";
$fruit-var-search-minus: "\f010";
$fruit-var-search-plus: "\f00e";
$fruit-var-sellsy: "\f213";
$fruit-var-send: "\f1d8";
$fruit-var-send-o: "\f1d9";
$fruit-var-server: "\f233";
$fruit-var-share: "\f064";
$fruit-var-share-alt: "\f1e0";
$fruit-var-share-alt-square: "\f1e1";
$fruit-var-share-square: "\f14d";
$fruit-var-share-square-o: "\f045";
$fruit-var-shekel: "\f20b";
$fruit-var-sheqel: "\f20b";
$fruit-var-shield: "\f132";
$fruit-var-ship: "\f21a";
$fruit-var-shirtsinbulk: "\f214";
$fruit-var-shopping-cart: "\f07a";
$fruit-var-sign-in: "\f090";
$fruit-var-sign-out: "\f08b";
$fruit-var-signal: "\f012";
$fruit-var-simplybuilt: "\f215";
$fruit-var-sitemap: "\f0e8";
$fruit-var-skyatlas: "\f216";
$fruit-var-skype: "\f17e";
$fruit-var-slack: "\f198";
$fruit-var-sliders: "\f1de";
$fruit-var-slideshare: "\f1e7";
$fruit-var-smile-o: "\f118";
$fruit-var-soccer-ball-o: "\f1e3";
$fruit-var-sort: "\f0dc";
$fruit-var-sort-alpha-asc: "\f15d";
$fruit-var-sort-alpha-desc: "\f15e";
$fruit-var-sort-amount-asc: "\f160";
$fruit-var-sort-amount-desc: "\f161";
$fruit-var-sort-asc: "\f0de";
$fruit-var-sort-desc: "\f0dd";
$fruit-var-sort-down: "\f0dd";
$fruit-var-sort-numeric-asc: "\f162";
$fruit-var-sort-numeric-desc: "\f163";
$fruit-var-sort-up: "\f0de";
$fruit-var-soundcloud: "\f1be";
$fruit-var-space-shuttle: "\f197";
$fruit-var-spinner: "\f110";
$fruit-var-spoon: "\f1b1";
$fruit-var-spotify: "\f1bc";
$fruit-var-square: "\f0c8";
$fruit-var-square-o: "\f096";
$fruit-var-stack-exchange: "\f18d";
$fruit-var-stack-overflow: "\f16c";
$fruit-var-star: "\f005";
$fruit-var-star-half: "\f089";
$fruit-var-star-half-empty: "\f123";
$fruit-var-star-half-full: "\f123";
$fruit-var-star-half-o: "\f123";
$fruit-var-star-o: "\f006";
$fruit-var-steam: "\f1b6";
$fruit-var-steam-square: "\f1b7";
$fruit-var-step-backward: "\f048";
$fruit-var-step-forward: "\f051";
$fruit-var-stethoscope: "\f0f1";
$fruit-var-stop: "\f04d";
$fruit-var-street-view: "\f21d";
$fruit-var-strikethrough: "\f0cc";
$fruit-var-stumbleupon: "\f1a4";
$fruit-var-stumbleupon-circle: "\f1a3";
$fruit-var-subscript: "\f12c";
$fruit-var-subway: "\f239";
$fruit-var-suitcase: "\f0f2";
$fruit-var-sun-o: "\f185";
$fruit-var-superscript: "\f12b";
$fruit-var-support: "\f1cd";
$fruit-var-table: "\f0ce";
$fruit-var-tablet: "\f10a";
$fruit-var-tachometer: "\f0e4";
$fruit-var-tag: "\f02b";
$fruit-var-tags: "\f02c";
$fruit-var-tasks: "\f0ae";
$fruit-var-taxi: "\f1ba";
$fruit-var-tencent-weibo: "\f1d5";
$fruit-var-terminal: "\f120";
$fruit-var-text-height: "\f034";
$fruit-var-text-width: "\f035";
$fruit-var-th: "\f00a";
$fruit-var-th-large: "\f009";
$fruit-var-th-list: "\f00b";
$fruit-var-thumb-tack: "\f08d";
$fruit-var-thumbs-down: "\f165";
$fruit-var-thumbs-o-down: "\f088";
$fruit-var-thumbs-o-up: "\f087";
$fruit-var-thumbs-up: "\f164";
$fruit-var-ticket: "\f145";
$fruit-var-times: "\f00d";
$fruit-var-times-circle: "\f057";
$fruit-var-times-circle-o: "\f05c";
$fruit-var-tint: "\f043";
$fruit-var-toggle-down: "\f150";
$fruit-var-toggle-left: "\f191";
$fruit-var-toggle-off: "\f204";
$fruit-var-toggle-on: "\f205";
$fruit-var-toggle-right: "\f152";
$fruit-var-toggle-up: "\f151";
$fruit-var-train: "\f238";
$fruit-var-transgender: "\f224";
$fruit-var-transgender-alt: "\f225";
$fruit-var-trash: "\f1f8";
$fruit-var-trash-o: "\f014";
$fruit-var-tree: "\f1bb";
$fruit-var-trello: "\f181";
$fruit-var-trophy: "\f091";
$fruit-var-truck: "\f0d1";
$fruit-var-try: "\f195";
$fruit-var-tty: "\f1e4";
$fruit-var-tumblr: "\f173";
$fruit-var-tumblr-square: "\f174";
$fruit-var-turkish-lira: "\f195";
$fruit-var-twitch: "\f1e8";
$fruit-var-twitter: "\f099";
$fruit-var-twitter-square: "\f081";
$fruit-var-umbrella: "\f0e9";
$fruit-var-underline: "\f0cd";
$fruit-var-undo: "\f0e2";
$fruit-var-university: "\f19c";
$fruit-var-unlink: "\f127";
$fruit-var-unlock: "\f09c";
$fruit-var-unlock-alt: "\f13e";
$fruit-var-unsorted: "\f0dc";
$fruit-var-upload: "\f093";
$fruit-var-usd: "\f155";
$fruit-var-user: "\f007";
$fruit-var-user-md: "\f0f0";
$fruit-var-user-plus: "\f234";
$fruit-var-user-secret: "\f21b";
$fruit-var-user-times: "\f235";
$fruit-var-users: "\f0c0";
$fruit-var-venus: "\f221";
$fruit-var-venus-double: "\f226";
$fruit-var-venus-mars: "\f228";
$fruit-var-viacoin: "\f237";
$fruit-var-video-camera: "\f03d";
$fruit-var-vimeo-square: "\f194";
$fruit-var-vine: "\f1ca";
$fruit-var-vk: "\f189";
$fruit-var-volume-down: "\f027";
$fruit-var-volume-off: "\f026";
$fruit-var-volume-up: "\f028";
$fruit-var-warning: "\f071";
$fruit-var-wechat: "\f1d7";
$fruit-var-weibo: "\f18a";
$fruit-var-weixin: "\f1d7";
$fruit-var-whatsapp: "\f232";
$fruit-var-wheelchair: "\f193";
$fruit-var-wifi: "\f1eb";
$fruit-var-windows: "\f17a";
$fruit-var-won: "\f159";
$fruit-var-wordpress: "\f19a";
$fruit-var-wrench: "\f0ad";
$fruit-var-xing: "\f168";
$fruit-var-xing-square: "\f169";
$fruit-var-yahoo: "\f19e";
$fruit-var-yelp: "\f1e9";
$fruit-var-yen: "\f157";
$fruit-var-youtube: "\f167";
$fruit-var-youtube-play: "\f16a";
$fruit-var-youtube-square: "\f166";
