// Variables
// --------------------------
$fruit-sass-asset-helper: false !default;

$fruit-font-path: if($fruit-sass-asset-helper, "fruit_warehouse/", "../fonts/fruit_warehouse/") !default;
$fruit-font-name: "fruit_warehouse-webfont" !default;
$fruit-font-size-base: 14px !default;
$fruit-css-prefix: fruit!default;
$fruit-version: "1.0.0" !default;
$fruit-border-color: #eee !default;
$fruit-inverse: #fff !default;
$fruit-li-width: (30em / 14) !default;

$fruit-var-a-banana: "\f10a";
$fruit-var-apple: "\f10b";
$fruit-var-banana: "\f10c";
$fruit-var-grape: "\f105";
$fruit-var-lemon: "\f106";
$fruit-var-orgnge: "\f107";
$fruit-var-pear: "\f10d";
$fruit-var-peeled-banana: "\f10e";
$fruit-var-sliced-lemon: "\f108";
$fruit-var-water-melon: "\f109";
